.second-level {
  display: inline-flex;
}

.btn-outline-success, .btn-outline-danger {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 20px !important;
}

.third-level {
  display: flex;
}